#root {
  background-color: #1e1f23;
  font-family: "Outfit", serif;
  min-height: 100vh;
}
#homepage {
  background-color: #1e1f23;
}

#details {
  width: 90%;
  margin: auto;
}
.card {
  background-color: #1e1f23;
  align-items: center;
}
h1 {
  font-size: 9vw;
}
h4 {
  font-size: 3vw;
}
#today-weather {
  background-color: #2e2f3a;
}
#today-weather img {
  height: 20vw;
  width: 20vw;
}
#today-weather h2 {
  font-size: 7vw;
  font-weight: bold;
}
#temptoday {
  font-size: 10vw;
}
#temptoday span {
  font-size: 10vw;
  font-weight: 400;
}
#temptoday span:last-of-type {
  font-size: 5vw;
  font-weight: 400;
}

#forecast {
  background-color: #2e2f3a;
}
#navbar {
  background-color: #7d7e89;
  height: 3rem;
  position: sticky;
  bottom: 0;
  width: 81.5%;
  margin-inline: auto;
}

#today-weather h2 {
  padding-left: 4vw;
}
.todaydiv {
  padding-left: 4vw;
}
@media (min-width: 768px) {
  #homepage img {
    height: 42vw;
    width: 42vw;
  }
  .card-forecast {
    width: 20%;
    padding-inline: 0;
  }
  .card {
    margin-inline: 0.5rem;
  }
  #forecast {
    padding-inline: 0.4rem;
  }
}
@media (min-width: 992px) {
  #today-weather h2 {
    font-size: 5vw;
    padding-left: 4vw;
    padding-top: 2vw;
  }
  #today-weather img {
    height: 18vw;
    width: 18vw;
  }
  .todaydiv {
    font-size: 1.8vw;
    padding-left: 4vw;
  }
}
